fastapi==0.115.5
uvicorn==0.32.0
websockets==14.1
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.6.1
aiofiles==24.1.0
torch==2.5.1
langchain==0.3.7
langchain_community==0.3.7
numpy==1.26.4
transformers==4.46.2
pydub==0.25.1
python-multipart==0.0.17
accelerate==1.1.1
pytest==8.3.3
soundfile==0.12.1
datasets==3.1.0